#app {
  text-align: center;
  border: 10px solid black;
}

#drum-machine{
  border: 10px solid blue;
}

#display{
  border: 10px solid cyan;
}

.container{
   border: 10px solid green;
}
.drum-pad{
  border: 5px solid gray;
}