.container{
   border: 10px solid green;
   display: grid;
   grid-template-columns: 300px 300px 300px;
   justify-content: center;
}
.drum-pad{
  border: 5px solid gray;
}
.clip {
  display: none;
}

#app {
  text-align: center;
  border: 10px solid black;
}

#drum-machine{
  border: 10px solid blue;
}

#display{
  border: 10px solid cyan;
}

