body{
  font-family: 'Black Ops One', cursive;
  background-color: #d3dee5;
  color: 	#3f3838;
}
.container{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   height: 200px;
   justify-content: center;
   
}
.drum-pad{
  border: 5px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99c4a7;
}
.clip {
  display: none;
}

#app {
  text-align: center; 
}

#display{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid gray;
  height: 50px;
  background-color: #adcdbb;
}

